<odoo>
    <record id="tender_res_config_settings_fields" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.fields</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="50"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//div[hasclass('settings')]" position="inside">
                <div class="app_settings_block" data-string="Tender" string="Tender" data-key="tender">
                    <h2>Estimation</h2>
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-6 o_setting_box">
                            <div class="content-group">
                                <div class="row mt16">
                                    <label for="show_taxes" class="col-md-3 o_light_label"/>
                                    <field name="show_taxes"/>
                                </div>
                                <div class="row mt16">
                                    <label for="show_cost_per_unit" class="col-md-3 o_light_label"/>
                                    <field name="show_cost_per_unit"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </xpath>
        </field>
    </record>
</odoo>