<odoo>
    <record id="ks_res_config_settings_moddele_account" model="ir.ui.view">
            <field name="name">ks.res.config.settings.view.form.inherit.account.middle</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="50"/>
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//field[@name='has_accounting_entries']" position="after">

                    <h2 attrs="{'invisible': [('has_chart_of_accounts','==',False)]}">Cheques Setting </h2>
                    <div class="row mt16 o_settings_container"
                          >

                        <div class="col-xs-12 col-md-6 o_setting_box">
                            <div class="o_setting_left_pane"/>
                            <div class="o_setting_right_pane">
                                <span class="o_form_label">Accounts</span>
                                <div class="text-muted">
                                        Set default Middle Account Received
                                </div>
                                <div class="content-group">
                                    <div class="row mt16" >
                                        <label for="middle_account"
                                               class="col-md-3 o_light_label"/>
                                        <field name="middle_account"/>
                                    </div>
                                    <div class="row mt16" >
                                        <label for="ks_middle_account"
                                               class="col-md-3 o_light_label"/>
                                        <field name="ks_middle_account"/>
                                    </div>
                                      <div class="row mt16" >
                                        <label for="ks_payment_cash"
                                               class="col-md-3 o_light_label"/>
                                        <field name="ks_payment_cash"/>
                                          <label for="ks_payment_return_cash"
                                               class="col-md-3 o_light_label"/>
                                        <field name="ks_payment_return_cash" attrs="{'invisible':[('ks_payment_cash','=',False)]}"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 o_setting_box">
                            <div class="o_setting_left_pane"/>
                            <div class="o_setting_right_pane">
                                <span class="o_form_label">Accounts</span>
                                <div class="text-muted">
                                        Set default Middle Account Send
                                </div>
                                <div class="content-group">
                                    <div class="row mt16" >
                                        <label for="ks_middle_account_send"
                                               class="col-md-3 o_light_label"/>
                                        <field name="ks_middle_account_send" string=" Middle Account Send"/>
                                    </div>
                                    <div class="row mt16" >
                                        <label for="ks_payment_vendor"
                                               class="col-md-3 o_light_label"/>
                                        <field name="ks_payment_vendor"/>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </xpath>
            </field>
        </record>
</odoo>